
	<div >
		<h1>Login to the app</h1>
        <div >
        Username <input style="width: 100px;" class='form-control' ng-model="user.name"> </div >
        <div >
        Password <input style="width: 100px;" class='form-control' ng-model="user.password">
            </div >
<button class="btn btn-primary" ng-click='Login()'>Login</button>
        <h1>Or register to the app</h1>
        <div >
            New Username <input style="width: 100px;" class='form-control' ng-model="user.name"> </div >
        <div >
            New Password <input style="width: 100px;" class='form-control' ng-model="user.password">
        </div >
        <button class="btn btn-primary" ng-click='Register()'>Register</button>
    </div>
